WebProgramming/Exercise_XML/Ex2/shiporder.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!ELEMENT SHIPORDER (ORDERPERSON,SHIPTO,ITEM+)>
<!ELEMENT ORDERPERSON (#PCDATA)>
<!ELEMENT SHIPTO (NAME,ADDRESS,CITY,COUNTRY)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT ADDRESS (#PCDATA)>
<!ELEMENT CITY (#PCDATA)>
<!ELEMENT COUNTRY (#PCDATA)>
<!ELEMENT ITEM (TITLE,NOTE?,QUANTITY,PRICE)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT NOTE (#PCDATA)>
<!ELEMENT QUANTITY (#PCDATA)>
<!ELEMENT PRICE (#PCDATA)>
<!ATTLIST SHIPORDER ORDERID CDATA #REQUIRED>

